/* Reset de margens e paddings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}
.container {
  display: flex;
  min-height: 100vh; /* Garante que ocupe a altura da tela */
  background-color: #f3f3f3;
}
/* Sidebar */
.sidebar {
  width: 220px;
  background-color: #FFBB11;
  padding: 20px;
  border-right: 1px solid #e5a610; /* Linha divisória */
  min-height: 100vh; /* Para ocupar toda a altura da página */
}

.sidebar img {
  margin-bottom: 20px;
}

/* Links da sidebar */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #ffffff;
  text-decoration: none;
  
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

/* Estilo para a seção de reservas */
.reservas {
  margin-top: 10px;
  padding: 20px;
  background-color: #f3f3f3; /* Fundo claro */
  border-radius: 10px;
}

.reservas2 {
  margin-top: 10px;
  padding: 20px;
  background-color: #FFBB11;
  border-radius: 10px;
}

.reserva-detalhes {
  margin-top: 10px;
  padding: 20px;
  background-color: #FFBB11;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reserva-detalhes p {
  font-size: 1rem;
  color: #444;
  margin: 1px 0;
}

.reserva-detalhes strong {
  color: #f3f3f3;
}

/* Estilo para a seção de imagens das reservas */
.imagens-reserva {
  display: flex;
  gap: 10px; /* Espaçamento entre as imagens */
  margin-top: 15px;
  flex-wrap: wrap; /* Permite que as imagens quebrem linha, se necessário */
}

.imagens-reserva img {
  width: 100px; /* Largura padrão para as imagens */
  height: 100px; /* Altura padrão para as imagens */
  object-fit: cover; /* Mantém o conteúdo da imagem dentro do espaço definido, sem distorção */
  border-radius: 8px; /* Bordas arredondadas para as imagens */
  border: 2px solid #ddd; /* Borda leve ao redor das imagens */
}

.imagens-reserva img:hover {
  border-color: #FFBB11; /* Muda a cor da borda ao passar o mouse */
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
  transition: transform 0.2s, border-color 0.2s; /* Transição suave para os efeitos */
}

.imagens-reserva h3 {
  font-size: 1.0rem;
  color: #FFBB11; /* mesma cor aplicada aos outros títulos */
  margin-bottom: 20px;
  font-weight: bold;
}


.content {
  flex: 1;
  padding: 20px;
}

h2 {
  font-size: 1.5rem;
  color: #FFBB11;
  margin-bottom: 20px;
}

/* Estilos para o formulário de reservas */
.form-reservas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

/* Estilo para cada grupo de formulário */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #444;
}

/* Estilo para os campos de entrada de data (lado a lado) */
.form-group-periodo {
  display: inline-block;
  width: 49%;
  font-weight: bold;
}

.form-group-periodo input {
  width: 100%;
}

/* Estilos gerais para inputs, selects e textarea */
input,
select,
textarea {
  padding: 7px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f3f3f3;
}

/* Estilos para botões de ação */
.form-actions {
  text-align: center;
  margin-top: 20px;
}

.form-action_novareserva {
  text-align: left;
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  background-color: #fff;
  color: #e5a610;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

button:hover {
  background-color: #e5a610;
  color: #fff;
}

.status {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #99cdbf;
  max-width: 100px; /* Define o tamanho máximo da caixa */
  white-space: nowrap; /* Impede que o texto quebre em várias linhas */
  overflow: hidden; /* Oculta o excesso de texto */
  text-overflow: ellipsis; /* Adiciona reticências (...) se o texto for muito longo */
}